[Unit]
Description=kotlin-minimal
After=network.target

[Service]
User=shane
ExecStart=/home/shane/.sdkman/candidates/java/current/bin/java -jar /home/shane/projects/kotlin-minimal/build/libs/kotlin-minimal-1.0-SNAPSHOT-standalone.jar
Restart=always
RestartSec=10
Type=simple

[Install]
WantedBy=multi-user.target
